<!DOCTYPE html>
<html ng-app="QueueApp">
<head>
<meta charset="UTF-8">
<title>Message Queue</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script type="text/javascript">
		angular.module('QueueApp', []).controller('QueueController', ['$scope', '$http', function($scope, $http){
			$scope.readQueue = function() {
				$http.get("/spring-jaxws-jms/queueList").then(function(response){
					$scope.messages = response.data;
				});
			}
		}]);
	</script>
</head>
<body ng-controller="QueueController">
	<div class="container ">
		<div class="jumbotron">
			<h1 align="center">Queue List</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<table class="table">
					<thead>
						<tr>
							<th>Description</th>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ws List</td>
							<td><a href="/spring-jaxws-jms/MessageWS">WS List</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th class="col-sm-2">From</th>
							<th class="col-sm-2">To</th>
							<th class="col-sm-6">Message</th>
							<th class="col-sm-2"><button type="button" class="btn btn-info"
									ng-click="readQueue()">
									<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
									Refresh
								</button></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in messages">
							<td>{{ x.from }}</td>
							<td>{{ x.to }}</td>
							<td>{{ x.message }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
</body>
</html>